
{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}

<!--
        {% for question in questions %}

        <h3>pytanie {{ question.id }}</h3>
        <p>{{ question.question }}</p>
        <ul>
        {% for answer in question.shuffled_answers %}
            <li>{{ answer }}</li>
        {% endfor %}
        </ul>
        
    
    {% endfor %}
-->
    <form action="/quiz/" method="post">
    {% csrf_token %}
        {{ form }}
        <input type="submit" value="OK">
    </form>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}