{% load bootstrap4 %}
{% if 'use_i18n'|bootstrap_setting %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% endif %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page title -->
    <title>quizy</title>

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <!-- Bootstrap JavaScript if it is in head -->
    {% if 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript %}
    {% endif %}

    {% block bootstrap4_extra_head %}{% endblock %}

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark d-flex bg-primary mb-5">
        <a class="p-2 navbar-brand" href="/">QUIZY</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href={% url 'dashboard' %}>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'quiz_params' %}>Start quiz!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'ranking' %}>Ranking</a>
            </li>
        </ul>
        <div class="ml-auto p-2">
            {% if user.is_authenticated %}
            <code class="navbar-text text-white pr-3">
                logged user: {{ user.username }}
            </code>
            <a class="btn btn-outline-light" href={% url 'logout' %}>Logout</a>
            {% else %}
            <a class="btn btn-outline-light" href={% url 'login' %}>Login</a>
            <a class="btn btn-outline-light" href={% url 'register' %}>Register</a>
            {% endif %}
        </div>
    </nav>



    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                {% block content %}
                {% endblock %}
            </div>
</body>

</html>